<a href="https://colab.research.google.com/github/samrina042003/TUGAS-ALGORITMA-DAN-PEMROGRAMAN/blob/main/PEKAN_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Nama=input("Nama Anda:")

Nama Anda:samrina

In [ ]:
Nama

'samrina'

In [ ]:
x1=eval(input("masukkan x1:"))

masukkan x1:3.21

In [ ]:
x1

3.21

In [ ]:
nama_brg=input("nama barang=")
harga_satuan=eval(input(("harga satuan=")))
jum_brg=eval(input(("jumlah barang=")))
total_hrg_brg=0
harga_beli=jum_brg*harga_satuan
total_hrg_brg=harga_beli+total_hrg_brg
print("Total Harga yang dibayar Rp",total_hrg_brg)

nama barang=kaos kaki
harga satuan=1000
jumlah barang=3
Total Harga yang dibayar Rp 3000

In [ ]:
Kode ='AE107'
NamaBarang = "Kaca Mata"
HargaSatuan = 125000
Stok = 10
print('Kode barang = %s \n Nama Barang = %s \n Harga Satuan = Rp. %d \n Stok Barang = %d'%(Kode,NamaBarang,HargaSatuan,Stok))

Kode barang = AE107
 Nama Barang = Kaca Mata
 Harga Satuan = Rp. 125000
 Stok Barang = 10

In [ ]:
HargaBarang = float(HargaSatuan)

In [ ]:
print('Harga Satuan Barang - Rp.%.2f')

Harga Satuan Barang - Rp.%.2f

In [ ]:
print('Harga Satuan Barang - Rp.%.2f'%(HargaBarang))

Harga Satuan Barang - Rp.125000.00

In [ ]:
print('Harga Satuan Barang - Rp.%.2f'%(Stok))

Harga Satuan Barang - Rp.10.00

In [ ]:
import math
R = eval (input('masukkan jari2 tabung ='))
T = eval (input('masukkan tinggi tabung ='))
LuasTab = math.pi*R*R*T
print('Luas Tabung adalah = %.3f' %(LuasTab))
print('Luas Tabung adalah = ', LuasTab)
print("Luas Tabung adalah = ", LuasTab)

masukkan jari2 tabung =7
masukkan tinggi tabung =10
Luas Tabung adalah = 1539.380
Luas Tabung adalah =  1539.3804002589986
Luas Tabung adalah =  1539.3804002589986

In [ ]:
###SOAL NOMOR 1
import statistics
x1=eval(input('masukkan nilai x1:'))
x2=eval(input('masukkan nilai x2:'))
x3=eval(input('masukkan nilai x3:'))
rata2=(x1+x2+x3)/3 ##cara biasa
rata2baru=statistics.mean([x1,x2,x3]) ###library statistics
print('jadi nilai rata-rata 3 bilangan adalah =',rata2)
print('jadi nilai rata-rata 3 bilangan adalah =',rata2baru)

masukkan nilai x1:3
masukkan nilai x2:4
masukkan nilai x3:5
jadi nilai rata-rata 3 bilangan adalah = 4.0
jadi nilai rata-rata 3 bilangan adalah = 4

In [ ]:
###SOAL NOMOR 2
x=eval(input('masukkan nilai x'))
print('nilai f(x)',(2*x**3+2*x+15)/x)

masukkan nilai x3
nilai f(x) 25.0

In [ ]:
###SOAL NOMOR 3 CARA 1
A= eval(input('masukkan nilai A='))
B= eval(input('masukkan nilai B='))
C= eval(input('masukkan nilai C='))
D= eval(input('masukkan nilai D='))
A,B,C,D=B,D,A,C
print(A,B,C,D)

masukkan nilai A=2
masukkan nilai B=3
masukkan nilai C=4
masukkan nilai D=5
3 5 2 4

In [ ]:
###SOAL NOMOR 3 CARA 2
A= eval(input('masukkan nilai A='))
B= eval(input('masukkan nilai B='))
C= eval(input('masukkan nilai C='))
D= eval(input('masukkan nilai D='))
print ('A,B,C,D menjadi B,D,A,C =', B,D,A,C)

masukkan nilai A=2
masukkan nilai B=3
masukkan nilai C=4
masukkan nilai D=5
A,B,C,D menjadi B,D,A,C = 3 5 2 4