<a href="https://colab.research.google.com/github/samrina042003/TUGAS-ALGORITMA-DAN-PEMROGRAMAN/blob/main/TUGAS_PEKAN_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PENJUMLAHAN 2 BUAH MATRIKS**

In [ ]:
#CARA 1 (Langsung memasukkan nilai matriks pada program)
MatA=[
  [6,4],
  [1,3],
]
MatB=[
  [6,6],
  [2,4],
]
for x in range(0,len(MatA)):
  for y in range(0,len(MatA[0])):
    print(MatA[x][y]+MatB[x][y], end=' '),
  print()

12 10
3 7

In [ ]:
#CARA 2 (Menginput sendiri nilai matriks yang diinginkan pada program)
a=int(input('Nilai a: '))
b=int(input('Nilai b: '))
c=int(input('Nilai c: '))
d=int(input('Nilai d: '))
MatA=[
  [a,b],
  [c,d],
]
print(MatA)
e=int(input('Nilai e: '))
f=int(input('Nilai f: '))
g=int(input('Nilai g: '))
h=int(input('Nilai h: '))
MatB=[
  [e,f],
  [g,h],
]
print(MatB)
for x in range(0,len(MatA)):
  for y in range(0,len(MatA[0])):
    print(MatA[x][y]+MatB[x][y], end=' '),
  print()

Nilai a: 6
Nilai b: 4
Nilai c: 1
Nilai d: 3
[[6, 4], [1, 3]]
Nilai e: 6
Nilai f: 6
Nilai g: 2
Nilai h: 4
[[6, 6], [2, 4]]
12 10
3 7

**NOMOR 1**

In [19]:
banyak_barang=int(input('Banyak Barang: '))
jumlah_beli=0
for p in range(banyak_barang):
  print('Barang ke-',p+1)
  harga_barang=int(input('Harga Barang: '))
  jumlah_barang=int(input('Jumlah Barang: '))
  total=jumlah_barang*harga_barang
  print('total harga', total)
  for q in range(total):
    jumlah_beli=jumlah_beli+1
print(jumlah_beli)

Banyak Barang: 3
Barang ke- 1
Harga Barang: 1000
Jumlah Barang: 2
total harga 2000
Barang ke- 2
Harga Barang: 2000
Jumlah Barang: 3
total harga 6000
Barang ke- 3
Harga Barang: 3000
Jumlah Barang: 4
total harga 12000
20000

**NOMOR 2**

In [6]:
#CARA 1 (menggunakan range nilai awal,nilai akhir)
nilai_awal= int(input('input nilai awal: '))
nilai_akhir=int(input('input nilai akhir: '))
count=0
countt=0
for i in range(nilai_awal,nilai_akhir+1):
  if i % 2 == 0 :
    count=count+1
  else :
    countt=countt+1
print('Banyak bilangan genap adalah %d bilangan' %count)
print('Banyak bilangan ganjil adalah %d bilangan' %countt)

input nilai awal: 1
input nilai akhir: 25
Banyak bilangan genap adalah 12 bilangan
Banyak bilangan ganjil adalah 13 bilangan

In [9]:
#CARA 2 (memasukkan nilai secara langsung)
count=0
countt=0
for i in [1,2,5,4,6,10,9,13] :
  if i % 2 == 0 :
    count=count+1
  else :
    countt=countt+1
print('Banyak bilangan genap adalah %d bilangan' %count)
print('Banyak bilangan ganjil adalah %d bilangan' %countt)

Banyak bilangan genap adalah 4 bilangan
Banyak bilangan ganjil adalah 4 bilangan

**NOMOR 3**

In [ ]:
#CARA 1 (Penggunaan range(nilai_awal,nilai_akhir,pencacah). Langsung memasukkan nilainya)
for y in range(3,100,3):
  print (y,end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
#CARA 2 (Penggunaan range(nilai_awal,nilai_akhir). Menginput sendiri nilai yang diinginkan pada program)
tugas=int(input('Masukkan Nilai: '))
for i in range(1,tugas+1):
    if i%3 == 0 :      
      print(i,end=' ')

Masukkan Nilai: 100
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

**NOMOR 4**

In [ ]:
s=' '
bil=int(input('Input Bilangan: '))
for i in range (1,bil+1):
    s += str(i)+' '
    print (s)

Input Bilangan: 5
 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

**NOMOR 5**

In [25]:
from prettytable import PrettyTable
a= PrettyTable(['No.', 'Nama Mhs','N.Tugas', 'N.Kuis','N.UTS','N.UAS','NilaiAkhir'])
a.add_row(['1',' ',' ',' ',' ',' ',' '])
a.add_row(['2',' ',' ',' ',' ',' ',' '])
a.add_row(['..',' ',' ',' ',' ',' ',' '])
a.add_row(['N',' ',' ',' ',' ',' ',' '])
print(a)

+-----+----------+---------+--------+-------+-------+------------+
| No. | Nama Mhs | N.Tugas | N.Kuis | N.UTS | N.UAS | NilaiAkhir |
+-----+----------+---------+--------+-------+-------+------------+
|  1  |          |         |        |       |       |            |
|  2  |          |         |        |       |       |            |
|  .. |          |         |        |       |       |            |
|  N  |          |         |        |       |       |            |
+-----+----------+---------+--------+-------+-------+------------+